mixin inputField(_settings)
 - var req = required?"required":"";
 input.input-field(id=_settings.id type=_settings.type!=undefined?_settings.type:"text" 
  name=_settings.name!=undefined?_settings.name:"" 
  placeholder=_settings.placeholder!=undefined?_settings.placeholder:"" 
  realabel=_settings.arealabel!=undefined?_settings.arealabel:"" req)