include ../pin/pin.pug

mixin map(settings)
  - const {
  -   address: { street = '', city = ''},
  -   mapCenter: { lat: mapLat = 26.893505, lng: mapLng = 80.967422 },
  -   pinCenter: { lat: pinLat = 26.893505, lng: pinLng = 80.967422 }
  - } = settings;
  section.map.js-map
    .map__container.js-map__container(
      data-lat= mapLat
      data-lng= mapLng
      data-plat= pinLat
      data-plng= pinLng
    )
    .map__footer
      .map__title Meet us!
      .map__address
        .map__address-item.map__address-item_type_street= street
        .map__address-item.map__address-item_type_city= city
      .map__icons
        .map__search.js-map__search(tabindex="0")
        .map__pin.js-map__pin(tabindex="0")
          +pin({ mainColor: 'white', backColor: 'transparent' })