mixin map(options)
  - const defaultOptions = {
  -   address: { street: '', city: '' },
  -   mapCenter: { lat: 26.893505, lng: 80.967422 },
  -   pinCenter: { lat: 26.893505, lng: 80.967422 }
  - };
  - const settings = Object.assign(defaultOptions, options);
  section.map.js-map
    .map__container.js-map__container(
      data-lat=settings.mapCenter.lat
      data-lng= settings.mapCenter.lng
      data-plat= settings.pinCenter.lat
      data-plng= settings.pinCenter.lng
    )
    .map__footer
      .map__title Meet us!
      .map__address
        .map__street=settings.address.street
        .map__city=settings.address.city
      .map__icons
        .map__search.js-map__search
        .map__pin.js-map__pin
          +pin({ mainColor: 'white', backColor: 'transparent' })