include ../button/button.pug

mixin messenger(settings)
  -
    const {
      image,
      name,
      inbox,
      outbox,
      outboxPlaceholder = 'Type your message...',
      outboxRows = '3',
      buttonTitle = 'reply',
      } = settings;
    const bgImage = require(`../../assets/img/${image}`);
  .messenger
    header.messenger__header
      .messenger__name= name
      .messenger__photo(style=`background-image: url(${bgImage})`)
    form.messenger__container
      .messenger__buttons
        button.messenger__bubble-button(name="bubble-button" type="button")
        button.messenger__camera-button(name="camera-button" type="button")
      .messenger__message.messenger__message_type_inbox
        .messenger__text= inbox
      textarea.messenger__message.messenger__message_type_outbox(
        name="outbox"
        placeholder=outboxPlaceholder
        rows=outboxRows
      )= outbox
      .messenger__button
        +button({
          title: buttonTitle,
          color: 'reverse',
          size: 'responsive',
          type: 'submit',
          name: 'button',
        })

  