mixin messenger(msgData)
  - const image = require(`../../assets/img/${msgData.image}`);
  .messenger
    header.messenger__header
      .messenger__name= msgData.name
      .messenger__photo(style='background-image: url(' + image + ')')
    .messenger__container
      .messenger__icons
        a.messenger__bubble-icon(href="" title="")
        a.messenger__camera-icon(href="" title="add photo")
      .messenger__message.messenger__message_type_inbox
        .messenger__text= msgData.inbox
      textarea.messenger__message.messenger__message_type_outbox(
        name="outbox"
        placeholder="Type your message..."
        rows="3")= msgData.outbox
      .messenger__button
        +button({ title: 'reply', color: 'reverse', size: 'responsive' })

  