mixin button(settings)
  - const {
  -   color,
  -   size = '',
  -   title: titleAttr = 'button',
  -   link: hrefAttr = false,
  -   isExternal = false
  -  } = settings;
  - const targetAttr = !!isExternal ? '_blank' : false;
  - const relAttr = !!isExternal ? 'noopener noreferrer' : false;
  - const sizeModifiers = {
  -   small: 'button_size_small',
  -   responsive: 'button_size_responsive',
  - };
  - const colorModifiers = {
  -   reverted: 'button_color_reverted',
  -   secondary: 'button_color_secondary',
  - };
  - let className = 'button js-button';
  - if (color in colorModifiers) {
  -   className += ` ${colorModifiers[color]}`;
  - }
  - size.split(' ').forEach((key) => {
  -   if (key in sizeModifiers) {
  -     className += ` ${sizeModifiers[key]}`; 
  -   }
  - });
  a(
    class=className
    title=titleAttr
    tabindex="0"
    href=hrefAttr
    target=targetAttr
    rel=relAttr)= titleAttr