include ../donut-chart/donut-chart.pug

mixin infogram(infogramData)
  ul.infogram
    each item in infogramData
      - const { type, value, comment } = item;
      if (type === 'fact')
        li.infogram__stat-item
          .infogram__number= value
          .infogram__comment= comment
      else if (type === 'chart')
        -
          const { values, highlights } = item;
          const pattern = highlights.map((value) => {
            return value.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
          }).join('|');
          const findMarkedRegExp = new RegExp(`(${pattern})`, 'g');
          const splittedText = comment.split(findMarkedRegExp);
        li.infogram__stat-item
          .infogram__comment
            each substring in splittedText
              if (highlights.indexOf(substring) !== -1)
                span.infogram__highlight= substring
              else
                =substring
          .infogram__chart
            +donutChart({ values: values.join(', '), type: 'pie' })