include ../news-card/news-card.pug

mixin talksSection(talksData = [])
  -
    const _ = require('lodash');
    
    const groupBy = function groupByLodashFunction(dataToGroupOn,
      fieldNameToGroupOn,
      fieldNameForGroupName, 
      fieldNameForChildren) {
      const result = _.chain(dataToGroupOn).groupBy(fieldNameToGroupOn).toPairs().map(
        (currentItem) => {
          return _.zipObject([fieldNameForGroupName, fieldNameForChildren], currentItem);
        }).value();
       return result;
    }

    const groupedData = groupBy(talksData, 'date', 'dateId', 'events');
    
  section.talks-section
    each item in groupedData
      -
        const { dateId, events = [] } = item;
        const date = new Date(dateId);
        const day = date.getDate();
        const month = date.toLocaleString('en-us', { month: 'long' });
        const dayOfWeek = date.toLocaleString('en-us', {  weekday: 'long' });
        const fullDate = `${day} ${month}`;

      header.talks-section__header
        .talks-section__day= dayOfWeek
        .talks-section__date= fullDate
      .talks-section__events
        each event in events
          - const { time: eventTime } = event;
          .talks-section__event
            h3.talks-section__time= eventTime
            .talks-section__card
              +newsCard(event, { size: 'compact', color: 'cyan' })

