include ../video/video.pug
include ../infogram/infogram.pug

mixin aboutSection(aboutData)
  -
    const { intro, audience, video, infogram } = aboutData;
    const { title: introTitle, text: introText } = intro;
    const { title: audienceTitle, text: audienceText } = audience;
    const { link, linkTitle, linkToEmbed, caption } = video;
  section.about-section
    .about-section__block
      .about-section__left-col
        h3.about-section__title= introTitle
        .about-section__text
          each item in introText
            p.about-section__paragraph= item
        a.about-section__video-link(
          href=link
          title=linkTitle
          target="_blank"
          rel="noopener noreferrer"
        )= caption
      .about-section__right-col
        .about-section__video
          +video(linkToEmbed)
    .about-section__block
      .about-section__left-col
        h3.about-section__title= audienceTitle
        each item in audienceText
          - const { subtitle, content } = item
          .about-section__text
            h4.about-section__subtitle= subtitle
            p.about-section__paragraph= content
      .about-section__right-col
        +infogram(infogram)
        
    