mixin tickBox(settings = {})
  -
    const { color, value: valueAttr, name: nameAttr, checked: checkedAttr = false } = settings;
    const colorModifiers = { orange: 'tick-box_color_orange' };
    let className = "tick-box js-tick-box";
    if (color in colorModifiers) className += ` ${colorModifiers[color]}`;
  div(class=className)
    label.tick-box__label
      input.tick-box__input.js-tick-box__input(
        type="checkbox"
        value=valueAttr
        name=nameAttr
        checked=!!checkedAttr
      )
      .tick-box__checkmark.js-tick-box__checkmark(tabindex="0")