mixin tickBox(_value, _name, _id, _isChecked)
	.tick-box
		- if (_isChecked)
			input(type="checkbox" value=_value name=_name id=_id checked)
		- else
			input(type="checkbox" value=_value name=_name id=_id)
		label.tick-box__label(for=_id)