mixin newsCard(userData, settings)   
 - const img = require(`../../assets/img/${userData.img}`);
 - const date = new Date(userData.date);
 - const day = date.getDate();
 - const year = date.getFullYear();
 - let month = date.toLocaleString('en-us', { month: 'long' });
 - let className = 'news-card';
 - if (settings && settings.type === 'event') {
 -   className += ' news-card_type_event';
 -   month = date.toLocaleString('en-us', { month: 'short' });
 - }
 - if (settings && settings.isCompact) {
 -   className += ' news-card_size_compact';
 - }
 - if (settings &&settings.color === 'reverted') {
 -   className += ' news-card_color_reverted';
 - }
  div(class=className)
    .news-card__image(style="background-image: url("+img+")")
    .news-card__content
      - if (settings && settings.type === 'event') {
        .news-card__date
          span.news-card__day= day
          span.news-card__month= month
        .news-card__title= userData.title
        .news-card__text= userData.text
        .news-card__button
          +button({ title:'add to calendar', size:'small responsive' })
      - } else {
        .news-card__title= userData.title
        .news-card__date= day + ' ' + month + ' ' + year
        .news-card__text= userData.text
      - }