mixin newsCard(data, isEvent, isCompact, isColorReverted)
	- var img = require("../assets/img/"+ data.img)
	- var className = 'news-card';
	- var date = new Date(data.date);
	- var day = date.getDate();
	- var month = date.toLocaleString("en-us", { month: "long" });
	- var year = date.getFullYear()
	- if (isEvent === true) {
	- 	className += ' news-card_type_event';
	-	month = date.toLocaleString("en-us", { month: "short" });
	- }
	- if (isCompact === true) {
	- 	className += ' news-card_size_compact';
	- }
	- if (isColorReverted === true){
	-	className += ' news-card_color_reverted';
	- }
	div(class=className)
		.news-card__image(style='background-image: url('+img+')')
		.news-card__content
			- if (isEvent === true) {
				.news-card__date
					span.news-card__day= day
					span.news-card__month= month
				.news-card__title= data.title
				.news-card__text= data.text
				.news-card__button
					+button({title:"add to calendar", size:"small", color:"responsive"})
			- } else {
				.news-card__title= data.title
				.news-card__date= day + ' ' + month + ' ' + year
				.news-card__text= data.text
			- }