include ../button/button.pug

mixin newsCard(cardData = {}, settings = {})
  -
    const {
      img,
      date,
      title,
      text,
    } = cardData;

    const {
      type,
      size,
      withScrollbar,
      color = 'orange',
      buttonTitle = 'add to calendar',
    } = settings;

    const cardImg = require(`../../common.blocks/news-card/img/${img}`);
    
    const typeModifiers = { event: 'news-card_type_event' };
    const sizeModifiers = { compact: 'news-card_size_compact' };
    const colorModifiers = {
      cyan: 'news-card_color_cyan',
      orange: 'news-card_color_orange',
    };
    const scrollbarModifier = 'news-card_with-scrollbar';
    
    const cardDate = new Date(date);
    const day = cardDate.getDate();
    const year = cardDate.getFullYear();
    const monthFormat = type === 'event' ? 'short' : 'long';
    const month = cardDate.toLocaleString('en-us', { month: monthFormat });

    let className = 'news-card js-news-card';
    
    if (type in typeModifiers) className += ` ${typeModifiers[type]}`;
    if (size in sizeModifiers) className += ` ${sizeModifiers[size]}`;
    if (color in colorModifiers) className += ` ${colorModifiers[color]}`;
    if (withScrollbar) className += ` ${scrollbarModifier}`;

  div(class=className)
    .news-card__image(style=`background-image: url(${cardImg})`)
    .news-card__content
      if (type === 'event')
        .news-card__date
          span.news-card__day= day
          span.news-card__month= month
        .news-card__title= title
        .news-card__text.js-news-card__text= text
        .news-card__button
          +button({ title: buttonTitle, size: 'small', type: 'button', name: 'button' })
      else
        .news-card__title= title
        .news-card__date= `${day} ${month} ${year}`
        .news-card__text.js-news-card__text= text